.extension-container {
  min-width:300px;
  min-height:400px;
}

.buttons {
  float:bottom;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-evenly;
  font-family:'Helvetica','Hind Siliguri';
}

.buttons button {
  min-width:100px;
}
